<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plana">

    <application
        android:allowBackup="true"
        android:name=".RoomDetail.DetailApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plana">
        <activity
            android:name=".Activities.DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"/>
        <activity
            android:name=".Activities.DetailActivity"
            android:exported="false"
            android:theme="@style/CustomNoActionBarTheme"
            />
        <activity
            android:name=".Activities.OverviewActivity"
            android:theme="@style/Theme.Plana.NoActionBar"
            android:exported="false"
            />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/CustomNoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>